/*general styles*/

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Cutive Mono', monospace;
  color: #fff;
  text-align: center;
  background-color: #111;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

h1, h2 {
  font-family: 'Teko';
  font-size: 3.5em;
  letter-spacing: 1px;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blocker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
}

.blocker:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}

.blocker.behind {
  background-color: transparent;
}

.modal {
  display: none;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 80%;
  min-width: 700px;
  background-color: #111;
  border: 1px solid #262626;
  color: #eee;
  border-radius: 3px;
  line-height: 170%;
}

.modal img {
  margin-bottom: -8px;
  width: 100%;
  border-radius: 3px;
}

.modal h2 {
  font-size: 2.5em;
  margin: 10px 0;
  text-align: center;
}

.themeinfo {
  position: absolute;
  background: rgba(0, 0, 0, .8);
  border-radius: 3px;
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  padding: 15px 33%;
  text-align: left;
  opacity: 0;
  transition: .7s ease;
  overflow:auto;
}

.themeinfo > p {
  text-align: center;
}

.modal:hover .themeinfo {
  opacity: 1;
  animation: bounceInDown .7s;
}

.themeinfo h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.themeinfo ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  font-size: .6em;
  margin-right: 10px;
}

.themeinfo ul li a:hover{
  color: tomato;
}

#navlinks {
  top: 10px;
}

ul#navlinks {
  padding: 20px 8px;
  transition: .5s ease;
  background-color: #111;
  border-radius: 3px;
  z-index: 2;
}
.shadow {
  box-shadow: 0 0 10px #000;
}

ul#navlinks li {
  display: inline-block;
  transition: .2s;
}

ul#navlinks li:hover {
  transform: scale3d(1.09,1.09,1);
  animation: bigger .7s;
}

ul#navlinks li a {
  padding: 8px;
  margin: 0 4px;
  border: 1px solid #262626;
  border-radius: 3px;
  background-color: #111;
}

ul#navlinks li a:hover .far, ul#navlinks li a:hover .fas {
  color: tomato;
}

#top {
  display: none;
}

#top a {
  color: tomato;
  border: 1px solid transparent !important;
}

#title {
  display: flex;
}

#welcome {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: 3.5em;
  color: tomato;
  animation-name: clear;
  animation-delay: 2s;
}

@keyframes clear {
  0% {
    width: 3.5em;
  }
  100% {
    width: 0em;
  }
}

#name span {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  font-size: .5em;
}

#follow {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100vw - 25px);
  margin: 0 auto;
  margin-top: 25px;
}

#follow a {
  padding: 8px;
  margin: 0 5px;
  border-radius: 3px;
  color: #eee;
  background-color: #111;
}

#follow a:hover {
  color: tomato;
  animation: jello 1s;
}

#home {
  display: none;
  position: fixed;
  margin-top: 50px;
  text-align: left;
  transform: rotate(90deg);
  mix-blend-mode: difference;
}

#home h1 {
  font-size: 3em;
}

#home:hover {
  animation: pulse 1s;
}

#about {
  background-color: #eee;
  height: 70vh;
}

.textblock {
  width: 30%;
  padding: 50px;
  background-color: #111;
  border-radius: 5px;
  text-align: right;
}

.textblock h1 {
  color: tomato;
  font-size: 3em;
}

.textblock p {
  line-height: 150%;
  font-size: 1.1em;
  animation-delay: .3s;
}

 #themes {
   flex-direction: row;
 }

#themes>h1 {
  writing-mode: vertical-lr;
  position: relative;
  margin-left: 30px;
  flex-basis: 5;
  transform: rotate(180deg)
}

#themewrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  max-height: 90vh;
  max-width: 60vw;
  padding: 10px 0;
  overflow: auto;
  border-radius: 5px;
  background: #151515;
  animation-delay: .5s;
  animation-duration: 1.2s;
}

.themecard {
  position: relative;
  min-width: 500px;
  margin: 10px;
  border-radius: 3px;
  transition: .3s;
}

.themecard:hover{
  transform: scale3d(.99,.99,1);
}

.themecard:hover img {
  filter: blur(2px);
}


.themecard img {
  width: 100%;
  border-radius: 3px;
}

.themename {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #eee;
  font-size: .8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  opacity: 0;
  transition: .8s;
}

.themename span {
  border-radius: 3px;
  padding: 15px;
  background-color:rgba(17,17,17,.8);
}


.themecard:hover .themename {
  animation: fadeInUp .6s;
  opacity: 1;
}

#ask {
  background-color: #eee;
  height: 70vh;
  flex-direction: column;
}

#ask h1 {
  width: 500px;
  text-align: right;
  color: #111;
  letter-spacing: -2px;
}

#resources {
  display: flex;
  flex-direction: row;
}

#inspo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#inspolinks ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 50vh;
  width: 70vw;
  margin-top: 50px;
}

#inspolinks li {
  width: 31.5%;
  height: 15vh;
  max-height: calc(50% - 60px);
  text-align: left;
  border-left: 5px solid #262626;
  padding: 10px 15px 5px 25px;
  margin: 10px;
  line-height: 170%;
  color: #fff;
  background-color: #000;
  overflow: auto;
  transition: .2s;
  border-radius: 5px;
}

#inspolinks li:hover {
  border-left: 5px solid tomato;
  transform: scale3d(1.09,1.09,1.09);
  animation: bigger 1s;
}

@keyframes bigger {
  0% {
    transform: scale3d(.95,.95,1);
  }

  33% {
    transform: scale3d(1.1,1.1,1.1);
  }

  66% {
    transform: scale3d(1.05,1.05,1);
  }

  100% {
    transform: scale3d(1.09,1.09,1);
  }
}

#inspolinks h2 {
  color: #eee;
  font-size: 2.2em;
  margin-bottom: 10px;
  transition: .3s;
}

#inspolinks li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f02e";
  margin-right: 10px;
  float: left;
  color: tomato;
}

ul.inspo {
  animation-delay: 1s;
}

#inspolinks h2:hover {
  transform: translateX(5px);
}

#blog {
  flex-direction: row;
}


#blog > h1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  align-self: flex-start;
  margin-top: 11vh;
}
